/* item
xs={10}
display="flex"
justifyContent="center"
margin="auto"
gap="5rem" */

.catalog {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 5rem;
}

/* For large devices */
@media screen and (max-width: 992px) {
  .catalog {
    display: flex;
    flex-direction: column;
    margin: none;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .catalog {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .catalog {
    flex-direction: column;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .catalog {
    flex-direction: column;
  }
}
